body{
    background: #0d161f;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

#loader-container{
    width: 200px;
    height: 200px;
    /* position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    /* background: #fff; */
}

.loader-div{
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    /* border: 8px solid #162534; */
    border: 8px solid #0d161f;
    border-top: 8px solid #09f;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    100% {transform: rotate(360deg);}
}